BasedOnStyle: LLVM
IndentWidth: 3
TabWidth: 3
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 100
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
SortIncludes: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignTrailingComments: true
ReflowComments: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false
